{% load bootstrap3 %}
{% load static %}

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">

    <link rel="stylesheet" href="{% static 'main.css' %}" />

    <title>Epysodes</title>

    {% bootstrap_css %}
    {% bootstrap_javascript %}
  </head>
  
  <body>
    <!--static navbar-->
      <nav class="navbar navbar-default navbar-static-top">
        <div class="container">
		<div class="row">
                  <div class="nav navbar-nav navbar-right">
                    <button type="button" class="navbar-toggle collapsed"
	              data-toggle="collapse" data-target="#navbar"
	              aria-expanded="false" aria-controls="navbar">
	            </button>
		    <h1>
                      <a class="navbar-brand" href="{% url 'episodes:index' %}">Home</a>
	              <a class="navbar-brand" href="{% url 'episodes:podcasts' %}">Podcasts</a>
	            </h1>
		  </div><!--/.nav-collapse -->
		</div>
        </div>
      </nav>
      
      <div class="container">
        <div class="page-header">
          {% block header %}
	    <div class="jumbotron">  
	      <h1>Listen to Python</h1>
	    </div>
	   {% endblock header %}
	<div>
	<div class=container">
	  {% block content %}
	    <div class="jumbotron">
              <h2>Browse and listen to your favorite Python podcasts in one place.</h2>
	      <h2>
                Get the latest podcasts on:
	        <h3>
	          <ul>
                    <li>'How to' Tutorials</li>
	            <li>Latest Developments in Python</li>
	            <li>Exciting projects</li>
	          </ul>
	        </h3>
	        <h3>From world's most talented Python developers<h3>
	      </h2>
	    </div>
	   {% endblock content %}
	 </div>
       </div> <!-- /container -->
       <footer class="container-fluid">
         <div class="row">
           <div class="col text-center">
             <img src="{% static 'imgs/python-powered.svg' %}" alt="Python Powered" height="50px" />
	   </div>
	 </div>
       </footer>
  </body>
</html>
